* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 110px;
    line-height: 110px;
  }
  .notfound .notfound-404 h1 {
    font-size: 120px;
  }
}
/* white theme*/
h2 {
  text-align: center;
  color: black;
}
h5 {
  color: black;
}
.loginPlease {
  color: #414141;
}
footer {
  position: absolute;
  color: black;
  bottom: 0;
  left: 0;
  right: 0;
}
label {
  color: #414141;
}
.main__title {
  color: black;
}
.forgotPass {
  color: #f0a0a0;
}
h2:before,
h2:after {
  font-family: "Some cool font with glyphs", serif;
  content: "\00d7"; /* Some fancy character */
  color: #f13d37;
}
bkh2:before,
nkh2:after {
  font-family: "Some cool font with glyphs", serif;
  content: "\00d7"; /* Some fancy character */
  color: #ffc857;
}
h2:before {
  margin-right: 10px;
}
h2:after {
  margin-left: 10px;
}

body {
  background-color: #ffffff;
}
bkbody {
  background-color: #202e3b;
}
/***********************************************
    main Page style
  ***********************************************/
ul {
  transition: all 0.2s ease-out;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

li .todotext {
  width: 100%;
  text-align: left;
}
li .todotext .igroup {
  text-align: left;
}
.subli .igroup {
  width: 10%;
  padding-bottom: 0;
}

li.main {
  width: 100%;
  border: 1px solid #f13d37;
  border-top: 0px;
  border-left: 0px;
  border-radius: 10px;
  padding: 1.5%;
  padding-right: 3%;

  color: #f13d37;
  background-color: #ffffff;
  font-size: 24px;
  transition: 0.3s ease-in-out;
}

bkli.main {
  width: 100%;
  border: 1px solid #fab835;
  border-top: 0px;
  border-left: 0px;
  border-radius: 10px;
  padding: 1.5%;
  padding-right: 3%;

  color: #fab835;
  background-color: #202e3b;
  font-size: 24px;
  transition: 0.3s ease-in-out;
}

li.main:hover {
  background-color: #ffffffd8;
}
bkli.main:hover {
  background-color: #42678c;
}
i {
  transition: 0.3s ease;
  animation-delay: 0.5s;
}
i:hover {
  color: #fa2c3a;
}
.subli {
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: small;
}
.insideli {
  font-size: 17px;
  padding-left: 10%;
}

.form_field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(58, 58, 58);
  outline: 0;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.bkform_field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
hr.dashed {
  border: 0;
  border-bottom: 2px dashed #ccc;
}
p {
  color: black;
}

.striked {
  text-decoration: line-through;
  color: #3a3636;
}
.bkstriked {
  text-decoration: line-through;
  color: #fa737c;
}
.striked::before {
  display: inline-block;
  padding-right: 5px;
  content: url("/images/done.png");
}

.delete {
  cursor: pointer;
}

.filtered {
  animation-delay: 0.4s;
  transition: all 0.4s ease-out;

  display: none !important;
}

.igroup {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.igroup i {
  transform: scale(1.2);
}
/***********************************************
   screen adjustment
  ***********************************************/
@media only screen and (max-width: 1000px) {
  li.main {
    font-size: 80%;
  }
  .insideli {
    font-size: 80%;
  }
}

/***********************************************
    navbar
  ***********************************************/
:root {
  --limited-width-container: 61.25em;
  --color-text-main: rgb(46, 46, 46);
}
:bkroot {
  --limited-width-container: 61.25em;
  --color-text-main: rgb(199, 199, 199);
}
.navbar_ {
  padding: 1rem 0;
  box-shadow: 0 0 3px rgba(189, 189, 189, 0.2);
}

.bknavbar_ {
  padding: 1rem 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.navbar_ > ul > li {
  display: flex;
  justify-content: space-between;
}
.navbar__container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
}

.navbar__link {
  color: var(--color-text-main);
  text-transform: uppercase;
}

.navbar__link:hover {
  border-bottom: solid 3px var(--color-text-main);
}

.navbar__link--active {
  border-bottom: solid 3px var(--color-text-main);
}

.toggleBtn {
  align-self: flex-start;
}
.toggleBTN {
  display: flex;
  user-select: none;
  outline: none;
  background-image: url("/iconfinder_menu-alt_134216.svg");
  cursor: pointer;
  color: #111111;
  padding: 15px 16px;
  border: #363636;
  background-color: transparent;
}
.bktoggleBTN {
  display: flex;
  user-select: none;
  outline: none;
  background-image: url("/iconfinder_menu-alt_134216.svg");
  cursor: pointer;
  color: #ffffff;
  padding: 15px 16px;
  border: #ffffff;
  background-color: transparent;
}
.toggleBTN:focus {
  outline: none;
}
/***********************************************
    app drawer
  ***********************************************/
.app_drawer {
  text-align: center;
  position: fixed;
  width: 40%;
  height: 100vh;
  transform: translateX(-100%);
  background: linear-gradient(to bottom, #ffffff, #f35151);
  transition: all 0.5s ease-in;
  box-shadow: 0.1px 0.1px;
  z-index: 1;
}

.bkapp_drawer {
  text-align: center;
  position: fixed;
  width: 40%;
  height: 100vh;
  transform: translateX(-100%);

  background: linear-gradient(to bottom, #202e3b, #00417e);
  transition: all 0.5s ease-in;
  box-shadow: 1px 1px;
  z-index: 1;
}
.app_drawer a {
  color: rgb(10, 10, 10);
}
.bkapp_drawer a {
  color: white;
}
.app_drawer--visible {
  /*styles for when the drawer is visible*/
  transform: translateX(-50%);
}

@media only screen and (max-width: 1000px) {
  .app_drawer--visible {
    /*styles for when the drawer is visible*/
    transform: translateX(0%);
  }
}

/***********************************************
    login page
  ***********************************************/
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
}

label {
  width: 100%;
  text-align: left;
}

form > label {
  width: 100%;
}

form > label > input {
  width: 100%;
  padding: 10px;
}

.thic {
  width: 50%;
  border-width: 5px !important;
  border-color: #47e5bc !important;
}

/***********************************************
    button style
  ***********************************************/
.btnT {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  color: rgb(0, 0, 0);
  width: 50%;
  background: transparent;
  padding: 10px;
  transition: all 0.5s ease-in;
}
.bkbtnT {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  color: white;
  width: 50%;
  background: transparent;
  padding: 10px;
  transition: all 0.5s ease-in;
}

.btnT:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btnT:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btnT:hover:before {
  left: 100%;
}
.username {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(83, 83, 83, 0.637);
  font-size: xx-small;
  font-style: italic;
  text-transform: capitalize;
}

.bkusername {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-size: xx-small;
  font-style: italic;
  text-transform: capitalize;
}
/***********************************************
    error page
  ***********************************************/
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  /* padding-top: 10%; */
}

.error__desc {
  text-align: center;
  font-size: 1.5em;
  color: rgb(39, 39, 39);
}
.bkerror__desc {
  text-align: center;
  font-size: 1.5em;
  color: white;
}
.error__msg {
  color: rgb(34, 34, 34);
}
.bkerror__msg {
  color: rgb(255, 255, 255);
}

.error__image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  height: 200px;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -1px;
}
