
    <section id="about-section">
        <h2 class="section-title">About</h2>
        <div id="about-content">
            <p id="about-text">Bacon ipsum dolor amet shank prosciutto cupim tail, boudin turkey beef ribs pork belly picanha doner alcatra shoulder. Kevin pancetta turkey drumstick cow tri-tip pork chop shoulder ball tip. Biltong salami strip steak andouille t-bone chicken turducken tail pancetta leberkas flank. Buffalo venison pork, sirloin bresaola tail pork chop burgdoggen fatback. Prosciutto short ribs strip steak frankfurter shankle tail fatback sirloin biltong pork chop brisket salami corned beef spare ribs andouille. Tri-tip fatback doner capicola. Pork belly boudin pork, spare ribs chuck pancetta short ribs bresaola meatball cow landjaeger turkey shank.</p>
            <iframe id="video" width="560" height="315" src="https://www.facebook.com/BFahoum/videos/10217228647561020" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>

    <section id="contact-section">
        <h2 class="section-title">Contact</h2>
        <form id="form">
            <label for="name">Full Name:</label><input type="text" id="name" required>
            <label for="email">Email:</label><input type="email" id="email" placeholder="Email Address" required>
            <label for="message">Message:</label><textarea id="message" required></textarea>
            <div id="submit-button">
                <input type="submit" formaction="https://www.freecodecamp.com/email-submit">
            </div>
        </form>
    </section>