<section class="error">
  <p class="error__desc">{{statusCode}}. <span class="error__msg">{{errorMessage}}</span></p><br>
  <hr class="thic"><br>
  <img class="error__image" src="/images/error.png" alt="error"><br>
  <br>
  <button class="submit btnT" onclick="window.location.href='/'" > Back to Home </button>

</section>
