<br><br><br>
 <footer>
        <p class="container-fluid text-center"><b>Created by BaderFahoum</b><span>*</span></p>
    </footer>

<!-- Include our actual code -->
    <script src="/script.js"></script>
    <!-- Include the tests for our code (it's best to keep these separate) -->
    <!-- <script src="app.test.js"></script> -->
</html>