{{>htmlHead}}
{{>header}}
  <body>
    <nav class="app_drawer">
      <br>
      <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About</a></li>
  </ul>
    </nav>
    <div class="container">
      <header class="text-center text-light my-4">
        <h2 class="mb-4">Taskinator</h2>
       {{#if activePage.signedIn}}
        <h5>Hello there, {{activePage.username}}</h5>
        <!-- maybe a search implementation? -->
        <form class="search">
          <input
            type="text"
            name="search"
            class="form_field m-auto"
            placeholder="Search Task"
          />
        </form>
      </header>

        {{else}}
        <h5>welcome to Taskinator!</h5>
        {{/if}}
        
    {{{body}}}
</body>
<!-- Include our actual code -->
    <script src="/script.js"></script>
    <!-- Include the tests for our code (it's best to keep these separate) -->
    <!-- <script src="app.test.js"></script> -->
</html>